<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue course</title>
</head>

<body>
  <div id="app" @submit.prevent="submit">
    <input type="text" name="name" id="" placeholder="Enter your name" v-model="name">
    <p> Your name is: {{ name | uppercase }}</p>

    <form method="GET">
      <h2> Which are your favorite games?</h2>
      <input v-model="games" type="checkbox" id="gow" value="gow">
      <label for="gow">God of War</label>
      <input v-model="games" type="checkbox" id="mgs" value="mgs">
      <label for="mgs">Metal Gear Solid</label>
      <input v-model="games" type="checkbox" id="spiderman" value="spiderman">
      <label for="spiderman">Spiderman</label>

      <button type="submit"><Small>Send</Small></button>
    </form>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script type="text/javascript">
    let app = new Vue({
      el: '#app',
      data: {
        name: '',
        games: []
      },
      filters: {
        uppercase: function (str) {
          return str.toUpperCase()
        }
      },
      methods: {
        submit: function(){
          console.log('Submit form.')
          console.log(this.games)
        }
      },
    })
  </script>
</body>

</html>